.popup {
    visibility: hidden;
    width: 160px;
    height:80px;
    background-color:gold;
    color: #ff0000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 100;
}
.show {
    visibility: visible;
    color: blue;
    background-color: gold;
}